<a href="https://colab.research.google.com/github/Augustinekodom/ai/blob/main/Exercise_2_DataFrames_and_Data_Manipulation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [3]:
data = {
    'OrderID': ['001', '002', '003', '004', '005'],
    'ProductCategory': ['Electronics', 'Clothing', 'Electronics', 'Toys', 'Clothing'],
    'Quantity': [1, 2, 3, 2, 1],
    'TransactionDate': ['2024-01-01', '2024-01-02', '2024-01-03', '2024-01-04', '2024-01-05']
}
transactions = pd.DataFrame(data)

In [4]:
def filter_transactions_by_category(df, category):
    return df[df['ProductCategory'] == category]

In [5]:
# Example usage:
electronics_transactions = filter_transactions_by_category(transactions, 'Electronics')
print(electronics_transactions)

  OrderID ProductCategory  Quantity TransactionDate
0     001     Electronics         1      2024-01-01
2     003     Electronics         3      2024-01-03

In [6]:
prices = {'Electronics': 200, 'Clothing': 50, 'Toys': 30}
transactions['TotalCost'] = transactions['ProductCategory'].map(prices) * transactions['Quantity']

print(transactions)

  OrderID ProductCategory  Quantity TransactionDate  TotalCost
0     001     Electronics         1      2024-01-01        200
1     002        Clothing         2      2024-01-02        100
2     003     Electronics         3      2024-01-03        600
3     004            Toys         2      2024-01-04         60
4     005        Clothing         1      2024-01-05         50

In [7]:
grouped_data = transactions.groupby('ProductCategory').agg(
    TotalQuantitySold=pd.NamedAgg(column='Quantity', aggfunc='sum'),
    TotalSales=pd.NamedAgg(column='TotalCost', aggfunc='sum')
)

print(grouped_data)

                 TotalQuantitySold  TotalSales
ProductCategory
Clothing                         3         150
Electronics                      4         800
Toys                             2          60